<html>

    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="37Tubes - Les meilleures répliques du Dîner de Cons">
        <meta name="keywords" content="37tubes,37 tubes,Dîner de Cons,citations,répliques,François Pignon,Pierre Brochant,Francis Veber,Jacques Villeret,Thierry Lhermitte,Francis Huster,Daniel Prévost">

        <meta charset="UTF-8">
        <title>37Tubes</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='//fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-83770907-1', 'auto');
            ga('send', 'pageview');
        </script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <div id="main">

            <header class="text-center">
                <p class="title">37Tubes</p>
                <p class="tagline big">Extraits du Dîner de Cons</p>
                <p class="tagline">Inspiré par <a href="//ouich.es">Ouich!es</a></p>
            </header>

            {% block top_body %}{% endblock %}

            <div id="tags">
                <div id="tags-content" class="text-center">
                    {% for sound_quote in sound_quotes %}
                        <a href="{{ sound_quote.get_absolute_url() }}" id="a-{{ sound_quote.tag }}" class="tag" style="color:{{ sound_quote.get_html_color() }}">
                            #{{ sound_quote.tag }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <footer class="text-center">
                <div class="btn-group btn-group-lg" role="toolbar">
                    {#
                    <a href="//twitter.com/ouiches" target="_blank" class="btn btn-default"><span class="fa fa-twitter"></span></a>
                    <a href="//fb.com/ouiches" target="_blank" class="btn btn-default"><span class="fa fa-facebook"></span></a>
                    #}
                    <a href="mailto:francois.pignon@37tub.es" target="_blank" class="btn btn-default"><span class="fa fa-envelope"></span></a>
                    <button type="button" class="btn btn-default" onclick="toggleInfo();"><span class="fa fa-info-circle"></span></button>
                </div>
                <div id="infos" style="display:none;">
                    J'organise une petite soirée Mercredi soir, vous êtes libre ?<br/>
                    Ce site est (fortement) inspiré du site le plus classe du monde : <a href="http://ouich.es">Ouich!es</a>
                </div>
            </footer>

        </div>

        <script type="application/javascript">
            function toggleInfo() {
                $("#infos").slideToggle();
            };
        </script>

    </body>

</html>
