{% extends 'base.html' %}


{% block top_body %}

<div id="player">
    <div id="player-content">
        <a href="{{ url_for('tubes.random_sound_quote') }}">
            <div id="random" class="fa fa-random"></div>
        </a>
    </div>
</div>

{% endblock %}
