{% extends 'base.html' %}


{% block top_body %}

<div id="player">
    <div id="player-content">
        <div id="bubble" class="bubble text-center" style="background-color:{{ sound_quote.get_html_color() }}">
            <audio autoplay="" preload="true" onplay="showPlaying();" onpause="showStopped();" onended="showStopped();">;
                <source src="{{ url_for('tubes.sound_file', tag=sound_quote.tag) }}" type="audio/mp3"> Your browser does not support audio
            </audio>

            <a href="/">
                <div id="{{ sound_quote.tag }}" class="close">
                    <span class="fa fa-times"></span>
                </div>
            </a>

            <div id="bubble-main" class="replique-content">
                <div id="title">
                    <div id="btnAudio" onclick="toggle();">
                        <div id="btnIconStop" class="btnIcon fa fa-stop-circle" style="display: none;"></div>
                        <div style="display: inline-block;" id="btnIconPlay" class="btnIcon fa fa-play-circle"></div>
                    </div>

                    <span id="tag" class="replique-tag">#{{ sound_quote.tag }}</span>
                </div>

                <div clas="quotes" id="q-{{ sound_quote.tag }}">
                    {{ sound_quote.get_html_quote()|safe }}
                </div>

                {#
                <div role="toolbar" id="bubble-toolbar" class="btn-group btn-group-lg">
                    <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fouich.es&amp;url=https%3A%2F%2Fouich.es/tag%2Fbienvenue&amp;hashtags=ouiches&amp;related=ouiches" target="_blank" class="">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fouich.es/tag%2Fbienvenue" target="_blank" class="">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="/tag/bienvenue" class="" title="Clique droit puis Copier le lien">
                        <span class="fa fa-link"></span>
                    </a>
                </div>
                #}

            </div>
        </div>

        <script type="application/javascript">
            $(
                function () {
                    var audio = $('audio')[0]
                        , btnIconPlay = $('#btnIconPlay')
                        , btnIconStop = $('#btnIconStop');

                    document.play = function () {
                        audio.play();
                    }

                    document.stop = function () {
                        audio.pause();
                    }

                    document.toggle = function () {
                        if (audio.paused) {
                            document.play();
                        } else {
                            document.stop();
                        }
                    }

                    document.showStopped = function () {
                        btnIconPlay.show();
                        btnIconStop.hide();
                    }

                    document.showPlaying = function () {
                        btnIconPlay.hide();
                        btnIconStop.show();
                    }
                }

            )
        </script>

    </div>

</div>

{% endblock %}
